<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
</head>

<body>
    <h1>Editar Paciente</h1>
    <form
        action="/edit/{{ paciente.id }}"
        method="POST">
        <label for="nombre_paciente">Nombre del paciente:</label>
        <input type="text" name="nombre_paciente" value="{{ paciente.nombre_paciente }}" required>
        <label for="nombre_medico">Nombre del medico:</label>
        <input type="text" name="nombre_medico" value="{{ paciente.nombre_medico }}" required>
        <label for="fecha_turno">Fecha del turno</label>
        <input type="text" name="fecha_turno" value="{{ paciente.fecha_turno }}" required>
        <button type="submit">Actualizar</button>
    </form>
</body>

</html>