<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
</head>

<body>
    <h1>Editar Paciente</h1>
    <form
        action="/edit/{{ paciente.dni }}"
        method="POST">
        <label for="nombre">Nombre del paciente:</label>
        <input type="text" name="nombre" required>
        <label for="tel">Telefono del paciente:</label>
        <input type="number" name="tel" required>
        <button type="submit">Actualizar</button>
    </form>

    
=======
<a href="{{ url_for('home') }}">🏠 Volver al inicio</a>    

</body>

</html>