{% extends "base.html" %}
{% block title %}Historial{% endblock %}

{% block content %}
<h1>Historial Clínico del Paciente</h1>

<form method="POST">
    <label for="especialidad">Filtrar por Especialidad:</label>
    <select name="especialidad">
        <option value="">Todas</option>
        {% for esp in especialidades %}
            <option value="{{ esp }}" {% if esp == seleccionada %}selected{% endif %}>{{ esp }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filtrar</button>
</form>

<ul>
    {% for item in historial %}
    <li>
        DNI: {{ item.dni }} - Fecha: {{ item.fecha }} - Especialidad: {{ item.especialidad }}<br>
        Descripción: {{ item.descripcion }}
    </li>
    {% else %}
    <li>No hay registros de historia clínica para mostrar.</li>
    {% endfor %}
</ul>

{% if session.get('rol') == 'admin' %}
    <a href="{{ url_for('ver_pacientes') }}">🏠 Volver</a>
{% elif session.get('rol') == 'paciente' %}
    <a href="{{ url_for('index') }}">🏠 Volver</a>
{% endif %}
{% endblock %}
