
{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h1>Sistema de Gestión de Turnos</h1>
    <h2>Bienvenidos a la Clínica</h2>
{% if session.get('rol') == 'admin' %}    
<div class="menu-opciones">
    <a href="{{ url_for('ver_pacientes') }}" class="card">
        <span>👥</span> Ver lista de pacientes
    </a>
    <a href="{{ url_for('ver_turnos') }}" class="card">
        <span>🗓️</span> Ver lista de turnos
    </a>
    <a href="{{ url_for('cargar_paciente') }}" class="card">
        <span>➕</span> Cargar nuevo paciente
    </a>
    <a href="{{ url_for('cargar_turno') }}" class="card">
        <span>📅</span> Cargar nuevo turno
    </a>
</div>
{% endif %}    
{% endblock %}
