

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Sistema de Gestión Clínica</h1>
    <ul>

        <li><a href="{{ url_for('cargar_paciente') }}">➕ Cargar nuevo paciente</a></li>
        <li><a href="{{ url_for('cargar_turno') }}">🗓️ Cargar nuevo turno</a></li>
        <a href="{{ url_for('ver_pacientes') }}">👥 Ver lista de pacientes</a>


        <li><a href="{{ url_for('ver_pacientes') }}">👥 Ver lista de pacientes</a></li>
        <li><a href="{{ url_for('ver_turnos') }}">📋 Ver lista de turnos</a></li>
        <li><a href="{{ url_for('cargar_paciente') }}">➕ Cargar nuevo paciente</a></li>
        <li><a href="{{ url_for('cargar_turno') }}">🗓️ Cargar nuevo turno</a></li>

    </ul>
</body>
</html>