<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">Lista de Turnos</h2>

 <div class="container">
<form method="POST" class="filtros-container">
    <input type="number" name="dni" placeholder="DNI del paciente">
    <input type="date" name="fecha">
    <select name="especialidad">
        <option value="">Especialidad</option>
        {% for esp in especialidades %}
            <option value="{{ esp }}">{{ esp }}</option>
        {% endfor %}
    </select>
    <select name="estado">
        <option value="">--Estado--</option>
        <option value="abierto">Abierto</option>
        <option value="cerrado">Cerrado</option>
    </select>
    <button type="submit">Filtrar</button>
    <a href="{{ url_for('ver_turnos') }}"><button type="button">Restablecer</button></a>
</form>

    <!-- TABLA DE TURNOS -->
    <table class="turno-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Especialidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datos %}
            <tr>
                <td>{{ item.turno.id }}</td>
                <td>{{ item.turno.dni }}</td>
                <td>{{ item.turno.fecha }}</td>
                <td>{{ item.turno.estado }}</td>
                <td>{{ item.especialidad }}</td>
                <td><a href="{{ url_for('editar_turno', id=item.turno.id) }}">📝 Editar</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            <div class="text-center mt-3">
                <a href="{{ url_for('index') }}" class="btn btn-link">🏠 Volver al inicio</a>
            </div>

</body>
</html>

